%h1.h1 MY PORTFOLIO

%h3.h3 Search For Stocks
#stock_lookup
  = form_tag "#", method: :get, id: 'stock_lookup_form' do
    .form-group.row.text-center.col-12
      .col-md-10
        = text_field_tag :stock, params[:stock], placeholder: 'Stock Ticker Symbol', class:"form-control search-box"
      .col-md-2
        = button_tag(type: :submit, class: "btn btn-success") do
          %i.fa.fa-search
          Look Up A Stock